<%- include('header') -%>
<div class="container">
    <div class="row  justify-content-md-left">
        <div class="col-md-auto align-self-center">
            <p class="h1">Kalózok</p>
        </div>
        <div class="col-md-auto align-self-center">
            <a href="/pirates/123/new" class="btn btn-sm btn-success">New Pirate</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-dark">
            <thead>
              <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Parrots</th>
                <th scope="col">Lost Teeth</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Jani</th>
                <td>0</td>
                <td>3</td>
                <td style="width:30px;white-space: nowrap">
                    <a href="/pirates/123/edit/123" class="btn btn-sm btn-primary">Edit</a>
                    <a href="pirates/123/del/123" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
              <tr>
                <th scope="row">Pisti</th>
                <td>30</td>
                <td>30</td>
                <td style="width:30px;white-space: nowrap">
                    <a href="/pirates/123/edit/123" class="btn btn-sm btn-primary">Edit</a>
                    <a href="pirates/123/del/123" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
              <tr>
                <th scope="row">Sanyi</th>
                <td>2</td>
                <td>32</td>
                <td style="width:30px;white-space: nowrap">
                    <a href="/pirates/123/edit/123" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/pirates/123/del/123" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>

          <a href="/" class="btn btn-sm btn-primary col-sm-2">Back to the ships</a>
        </div>
    </div>
</div>
<%- include('footer') -%>
